{% block widget_attributes -%}{% for key, value in attr %} {{ key }}="{{ value }}"{% endfor -%}{% endblock widget_attributes %}

{% block google_map_widget %}
{% apply spaceless %}
    {% set attr = attr|merge({'class': ('show-widget ' ~ attr.class|default(''))|trim }) %}
    <div{{ block('widget_attributes') }}>
        {% if value is not empty -%}
            {% if static %}
            <img src="{{ ivory_google_map_static(value) }}">
            {% else %}
            {{ ivory_google_map(value) }}
            {% endif %}
        {%- else -%}
            <em>{{ 'value.none'|trans({}, 'EkynaUi') }}</em>
        {%- endif %}
    </div>
{% endapply %}
{% endblock google_map_widget %}



{% block google_codes_widget %}
{% apply spaceless %}
    {% set attr = attr|merge({'class': ('show-widget ' ~ attr.class|default(''))|trim }) %}
    <div{{ block('widget_attributes') }}>
        <table class="table table-condensed">
            <thead>
            <tr>
                <th>{{ 'field.value'|trans({}, 'EkynaUi') }}</th>
                <th>{{ 'field.type'|trans({}, 'EkynaUi') }}</th>
                <th>{{ 'field.host'|trans({}, 'EkynaUi') }}</th>
            </tr>
            </thead>
            <tbody>
            {% for code in value %}
            <tr>
                <td>{{ code.value }}</td>
                <td>{{ code.type }}</td>
                <td>{{ code.host }}</td>
            </tr>
            {% else %}
            <tr>
                <td colspan="3">
                    <em>{{ 'value.none'|trans({}, 'EkynaUi') }}</em>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endapply %}
{% endblock google_codes_widget %}
