{% block widget_attributes -%}{% for key, value in attr %} {{ key }}="{{ value }}"{% endfor -%}{% endblock widget_attributes %}

{% block google_map_widget %}
{% spaceless %}
    {% set attr = attr|merge({'class': ('show-widget ' ~ attr.class|default(''))|trim }) %}
    <div{{ block('widget_attributes') }}>
        {% if value is not empty -%}
            {% if static %}
            <img src="{{ ivory_google_map_static(value) }}">
            {% else %}
            {{ ivory_google_map(value) }}
            {% endif %}
        {%- else -%}
            <em>{{ 'ekyna_core.value.none'|trans }}</em>
        {%- endif %}
    </div>
{% endspaceless %}
{% endblock google_map_widget %}